<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= mytitle %></title>
    <style>
      input,
      button {
        font-size: 33px;
      }
    </style>
  </head>
  <body>
    <h1>What is your UserName??</h1>
    <form  action="/" method="post">
      <input name="userNameee" type="text" />
      <br />
      <br />
      <button>send to db</button>
    </form>
    <!-- <h1>Your name is <%= array[0].userNameee %></h1> -->
    <h1>Your name is <%= array.at(-1).userNameee %></h1>
  </body>
</html>
